.main {
  outline: 2px solid #bdbdbd;
  border-radius: 15px;
  width: 1060px;
  margin: 90px auto;
  padding: 28px;
  background-color: #f2f2f2;
}

.main .title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 2px solid #bdbdbd;
  width: 650px;
  margin: 0 auto;
  padding: 40px 0px 36px 0px;
}

.title-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-category .category {
  padding: 28px 60px;
  font-size: 16px;
  font-weight: 500;
  color: #828282;
}

.title-category .category.cur-movie {
  font-weight: 900;
  color: #000;
}

.main .movie-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  padding: 26px;
  outline: 2px solid #bdbdbd;
  border-radius: 15px;
}

.main .movie-list li {
  position: relative;
  width: 220px;
  padding: 18px 20px;
  -webkit-box-shadow: 0px 0px 5px 0px #0000004d;
          box-shadow: 0px 0px 5px 0px #0000004d;
  outline: 1px solid #bdbdbd;
  background-color: #fff;
  outline: 1px solid #bdbdbd;
  border-radius: 10px;
}

.main .movie-list li .movie-img {
  width: 180px;
  height: 250px;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
  outline: 1px solid #bdbdbd;
  border-radius: 10px;
}

.main .movie-list li .movie-title {
  margin: 11px 0;
  font-size: 16px;
  font-weight: 900;
}

.main .movie-list li dl {
  margin-bottom: 28px;
}

.main .movie-list li dt,
.main .movie-list li dd {
  font-size: 13px;
  font-weight: 400;
  margin: 5px 0;
}

.main .movie-list li dd:nth-of-type(3) {
  margin-right: 80px;
}

.main .movie-list li dt {
  color: #828282;
}

.main .movie-list li dd {
  color: #000;
}

.main .movie-list li dd:nth-child(2) {
  padding-right: 38px;
}

.main .movie-list li dd:nth-child(4)::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(images/Star.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  vertical-align: -1px;
  margin-right: 4px;
}

.main .movie-list li .movie-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0 0 10px 10px;
  background-color: #f2f2f2;
  border-top: 1px solid #bdbdbd;
}

.main .movie-list li .reserve {
  border-right: 1px solid #bdbdbd;
  padding: 11px 0 9px 0;
}

.main .movie-list li .trailer::before {
  content: '';
  display: inline-block;
  background-image: url(images/play-circle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: -3px;
}

.main .movie-list li:nth-child(7) dd:nth-child(2) {
  padding-right: 20px;
}

.footer {
  margin-top: 135px;
  background-color: #f2f2f2;
  padding: 0 100px;
}

.footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 52px 0 42px 0;
  border-bottom: 1px solid #c4c4c4;
}

.footer .contact .company-name {
  font-size: 22px;
  font-weight: 700;
}

.footer .contact .sns-icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}

.footer .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 36px 0px;
}

.footer .information dt {
  font-size: 14px;
  font-weight: 700;
  color: #4f4f4f;
}

.footer .information dt:nth-child(1)::after {
  content: '|';
  display: inline-block;
  margin-left: 4px;
}

.footer .information dd {
  font-size: 14px;
  font-weight: 400;
  color: #4f4f4f;
}

.footer .information dd:nth-of-type(1):after,
.footer .information dd:nth-of-type(2):after,
.footer .information dd:nth-of-type(3):after {
  content: '|';
  display: inline-block;
  margin-left: 4px;
}

.footer .information .copyright {
  font-size: 14px;
  font-weight: 700;
  color: #4f4f4f;
}
/*# sourceMappingURL=style.css.map */