.main {
  background-color: #f2f2f2;
  width: 1003px;
  margin: 90px auto;
  .title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    border-bottom: 2px solid #bdbdbd;
    width: 50%;
    margin: 0 auto;
    padding: 40px 0px 36px 0px;
  }
}
